.board {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.col {
  display: inline-block;
}

.block{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}

.player1 {
  display: inline;
}

.player2 {
  display: inline;
}

.scores {
  text-align: center;
}

#reset-btn {

}