@font-face {
  font-family: 'chalkFont';
  src: url('resources/chalk.ttf');
}

body {
  background-image: url('resources/chalkboard.jpg');
}

h1 {
  color: white;
  font-family: 'chalkFont', sans-serif;
}

.title {
  padding-top: 10px;
  font-size: 60px;
  margin: 0;
}

.board {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.col {
  display: inline-block;
}

.block{
  font-family: 'chalkFont', sans-serif;
  color: white;
  border: 8px solid white;
  width: 100px;
  height: 100px;
  font-size: 100px;
  text-align: center;
}

.text {
  display: inline;
  font-size: 25px;
}

.tied {
  padding-left: 50px;
  padding-right: 55px;
}

.score {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 70px;
}

.scores {
  font-family: 'chalkFont', sans-serif;
  text-align: center;
  color: white;
}

#status {
  font-size: 60px;
  margin: 0;
  text-align: center;
}

#reset-btn {
  font-family: 'chalkFont', sans-serif;
  font-size: 20px;
  color: #fff !important;
  text-transform: uppercase;
  background: #ed3330;
  padding: 15px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
}

