.board {
  margin-top: 1%;
  margin-left: 30%;
}

.square {
  display: inline-block;
  border: 2px solid gold;
  width: 70px;
  height: 70px;
  font-size: 80px;
  text-align: center;
}

.board-row {
  margin: -4px;
}

.btn {
  color: white;
  margin: 0px 5px 13px 0;
  padding: 0px 20px 0 18px;
  border-radius: 50px;
  height: 68px;
  width: 68px;
  background-color: #2E76CF;
  border: none;
}

.btn:hover {
  color: white;
  background-color:#173b67;
}

.red-dot {
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}

.black-dot {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}